---
title: Financial Aid &sect; Work - RyanCollier.co
---

<% content_for :headline do %>
    
<div class="container summary">
    <h1>Bellevue College Financial Aid</h1>

    <p class="lead">After user research uncovered a confusing and overwhelming process for students and their parents, I redesigned the application process and supporting website.</p>
</div>

<% end %>

<article>
<img class="img-responsive feature" src="/work/images-financialaid/feature-apply-for-aid.jpg" alt="Screen shot of Bellevue College First Time Applicant Screen" />
<figcaption><span class="title">Apply For Aid.</span> <span class="caption-body">Primary financial aid application pathway design. Page was designed to provide clear pathways for key user scenarios such as first-time and returning applicants.</span></figcaption>

<div class="highlights">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h2">Highlights</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

              <ul>
                    <li>Developed a project plan and coordinated team involvement.</li>
                    <li>Designed a usability study, recruited and interviewed 10 participants (students, student and parent combinations) to uncover roadblocks to completing and submitting the college financial aid application.</li>
                    <li>Used contextual inquiry to learn and understand the internal processes and practices of the financial aid office staff, observe their interactions with students, application processing, and customer service interactions.</li>
                    <li>Made recommendations for changes and used the evidence collected to get buy-in and support.</li>
                    <li>Designed paper prototypes and iterated based on usability test results and feedback.</li>
                    
            </ul>

            </div>

            <div class="col-md-6">

                <ul>
                  
                    <li>Reorganized application process to eliminate unnecessary required information, re-ordered steps to better fit user scenarios.</li>
                    <li>Rewrote and focused financial aid website content on key questions, adopted a conversational tone.</li>
                    <li>Worked with application developers to create custom Drupal implementation, managed priorities and work backlog.</li>
                    <li>Coded front end user interface and loaded content management system with new content.</li>
                    <li>Iterated application process after post-launch usability testing uncovered some additional problems.</li>
                </ul>

            </div>
        </div>
    </div><!-- /.highlights -->

<div class="row">

    <div class="col-md-8 col-md-offset-2">
    
    <h3>My Role</h3>
    <p>The Bellevue College web team functioned very much like an internal consulting group. For this project, I was the primary team member assigned and responsible for the project from research to results. Other team members contributed to research sessions, analysis, content management system development, and content writing.  
    </p>
 
    
    <h3>Problem</h3>
    <p>In 2008 the financial situation in the United States brought about record college program enrollments. With a mission to serve the community, Bellevue College opened its doors wide and along with it came a flood of financial aid applicants struggling to complete a legacy, paper application process in time to enroll in classes. To get started, I created a plan so our team could get a deep understanding of the problem.</p>

    <h3>Process</h3>
    <p>As you might expect with UX work like this, I spent the biggest share of time understanding the problem through usability testing, interviews, contextual inquiry, and analyzing data from website search. As a part of the planing for this project, key stakeholders came to agreement about what kinds of students and staff we should interview. This was an important step in creating trust up front. Because key decision makers were confident that we were talking to the right people, it made them more receptive to the findings.</p>

    <div class="in-line caption">
        <div class="row">
            <div class="col-md-8"><img src="/work/images-financialaid/usability-study.png" class="img-responsive" /></div>
            <div class="col-md-4"><figcaption><span class="title">Report Cover.</span> <span class="caption-body">We began user research by looking at the financial aid experience from the perspective of a first-time student. Because there were a lot of interests and opinions about how to improve the process, we formalized the study findings to enhance credibility. This was useful because we could refer back to the research when asked to explain design decisions or project priorities.</span></figcaption></div>
        </div>
    </div>


    <p class="indent">We discovered that students and parents were overwhelmed and confused by the information they found on the financial aid department&rsquo;s website. There was not a simple explanation of the process, a list of items needed before starting the application, or even an easily understandable list of basic qualifications. As a result, many applications were considered&mdash;in financial aid office jargon&mdash;&ldquo;incomplete&rdquo;. Policy did not allow for processing of incomplete applications, so users ended up having to stand in line at the financial aid office again and again.</p>

    <p>We also learned that the aid office was so busy that they limited the amount of hours they answered phones in order to process applications. You can imagine the lines of anxious, unhappy students and parents unable to get basic questions answered. Anecdotally, we learned by asking students standing in line that many were there because &ldquo;[I] got a message from the office saying my application [was] incomplete,&rdquo; one student told us.</p>

    <img src="/work/images-financialaid/financial-aid-before.jpg" class="img-responsive" />
    <figcaption><span class="title">Before Redesign.</span> <span class="caption-body"> It&rsquo;s plain to see that we had ample opportunities to improve the legacy site given the off-branding, lack of clear content hierarchy, and the use of jargon.</span></figcaption>

    <p class="indent">From here, I used paper prototypes and sketches to work out the details of an improved version of the application process. I worked alongside the financial aid director to work out the details of required and optional information, trying to minimize the burden on students.</p>

    <p class="indent">I did a comprehensive content inventory of the existing financial aid web site content. Using the content inventory, I worked through the details of a new information architecture. We discovered many redundant, outdated, or trivial documents and pages. With this artifact, we tackled improving the most important content, chunk-by-chunk. We developed page templates for each page of the website, re-writing, revising, and refocusing content on the primary tasks of users.</p>

    <img src="/work/images-financialaid/content-inventory.png" class="img-responsive" />
    <figcaption><span class="title">Content Inventory.</span> <span class="caption-body"> Document used to track the entire contents of the financial aid website. We used this inventory to improve information architecture and track the overall progress of content writing and its migration to a content management system.</span></figcaption>

    <p class="indent">Next, I worked with the Financial Aid staff to design an improved application process. We sorted out what was required and what was not. Once we had the application sketched out, I worked directly with the lead developer to create a functioning version we could test with students and staff. With a good understanding of the users&rsquo; scenarios and tasks, the content and work flow was refocused to address the most crucial and common steps.</p> 

    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            
            <img src="/work/images-financialaid/aid-application.jpg" class="img-responsive"/>
            <figcaption><span class="title">Aid Application Step 1.</span> <span class="caption-body"> The updated site guided users right to the financial aid application. Using data validation on the front-end and back-end meant we could reduce the number of &ldquo;incomplete&rdquo; applications. When possible, the system was designed to immediately tell the applicant if there was a problem with their information.</span></figcaption>
        </div>
    </div>

<div class="row">

    <div class="col-md-8 col-md-offset-2">

    <h3>Outcomes</h3>
    <p>We were able to successfully reduce the time from application submission to completion of financial aid process and improve the quality, clarity, and simplicity of information available to students and parents.</p>
    
    </div>


    </div>
</div>
</article>