---
title: RyanCollier.co
---

<% content_for :headline do %>
    
<div class="container summary">
    <h1>Bellevue College Financial Aid</h1>

    <p class="lead">After user research uncovered a confusing and overwhelming process for students and their parents, redesigned process and supporting website.</p>
</div>

<% end %>

<article>
<img class="img-responsive feature" src="http://placehold.it/1280x600" />

<div class="row">

    <div class="col-md-8 col-md-offset-2">
        <h3>Problem</h3>
            <p>In 2008 the financial situation in the United States brought about record college program enrollments. With a mission to serve the community, Bellevue College opened its doors wide and along with it came a flood of financial aid applicants struggling to complete a legacy, paper application process on time. To get started, I created a plan so our team could get a deep understanding of the problem. </p>


   
        <aside class="panel panel-default">
            <div class="panel-body">
            <h3>My Role</h3>
            <p>I was the primary team member assigned to this project and responsible for the project end-to-end, research to results. Other team members contributed to research sessions, analysis, coding, and content writing.</p>
            </div>
        </aside>



<h3>Process</h3>

<p>As you might expect with UX work like this, I spent the biggest share of time understanding the problem through usability testing, interviews, contextual inquiry, and analyzing data from search. We went through this process over the course of 4 months from project start to launch.   
</p>

<p>We discovered that students and parents were overwhelmed and confused by the information they found on the financial aid department’s website. There was not a simple explanation of the process, a list of items needed before starting the application, or even a list of minimal requirements for qualification. As a result, many applications were considered “incomplete” by the office; their policy did not allow for processing of incomplete applications, so users ended up having to stand in line at the financial aid office again and again. To make matters worse, we learned that the aid office was so busy that they limited the amount of hours they answered phone calls in order to process applications. You can imagine the lines of anxious, unhappy students and parents unable to get basic questions answered.</p>

</div>
</div>

<img class="img-responsive" src="http://placehold.it/1280x600" />
<figcaption><span class="title">Figure 1.</span> <span class="caption-body"> Caption goes here and it's a really long caption with just the right amount of detail for the related image that it's describing. Caption goes here and it's a really long caption with just the right amount of detail for the related image that it's describing.</span></figcaption>

<div class="row">

    <div class="col-md-8 col-md-offset-2">

<p class="indent">
From here, I used paper prototypes and sketches to work out the details of an improved version of the application process. I worked alongside the financial aid director to work out the details of required and optional information, trying to minimize the burden on students. 
</p>

<p>I did a comprehensive content inventory of the existing financial aid website content. Using the content inventory, we worked through the details of a new information architecture and validated which information was required and what was not. With our good understanding of the users’ scenarios and tasks, we developed page templates for every page of the website and spent at least two weeks writing and editing the information. </p>


<h3>Highlights</h3>

  <ul>

    <li>Developed a project plan and coordinated team involvement.</li>
    <li>Designed a usability study and interviewed 10 participants (students, student and parent combinations) to uncover roadblocks to completing and submitting the college financial aid application.</li>
    <li>Used contextual inquiry approaches understanding the internal processes and practices of the financial aid office staff, observing their interactions with students, processing applications, and providing customer service.</li>
    <li>Made recommendations for changes and used the evidence collected to get buy-in.</li>
    <li>Designed paper prototypes and iterated based on usability test results and feedback.</li>
    <li>Reorganized application process to eliminate unnecessary required information, re-ordered steps to better fit applicant scenarios.</li>
</ul>

<p>We discovered that students and parents were overwhelmed and confused by the information they found on the financial aid department’s website. There was not a simple explanation of the process, a list of items needed before starting the application, or even a list of minimal requirements for qualification. As a result, many applications were considered “incomplete” by the office; their policy did not allow for processing of incomplete applications, so users ended up having to stand in line at the financial aid office again and again. To make matters worse, we learned that the aid office was so busy, they limited the amount of hours they answered phone calls so they could process applications.</p>


<h3>Deliverables</h3>
<ul>
    <li>Usability testing and research report</li>
    <li>User scenarios and stories</li>
    <li>Web site search analytics analysis</li>
    <li>Content inventory</li>
    <li>Page templates</li>
    <li>Prototypes</li>
    <li>Application process prototypes</li>
    <li>Final HTML and CSS code</li>
</ul>

<h3>Outcomes</h3>
Reduced time from application submission to completion of financial aid process 
Improved the quality, clarity, and simplicity of information available to users
    
    </div>


    </div>
</div>
</article>