---
title: Healthentic Website Redeux &sect; Work - RyanCollier.co
---

<% content_for :headline do %>
    
<div class="container summary">
    <h1>Healthentic Website <i>Redeux</i></h1>

    <p class="lead">During company acceleration, I stepped outside of my UX role to focus entirely on product marketing for Healthentic. I had three weeks to design and deliver sharp product messaging and a new website that could support a data-driven sales pipeline and strategy.</p>

</div>

<% end %>

<article>
<img class="img-responsive feature" src="/work/images-healthentic-redux/feature-website-home.jpg" alt="" />
<figcaption><span class="title">Home Page.</span> <span class="caption-body"> Revitalized product messaging and value propositions were featured on the home page. As shown here, we used quotes for third-party validation and company data, like the number of employers served and the people represented in data, to establish credibility. </span></figcaption>

<div class="highlights">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h2">Highlights</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

              <ul>
                <li>Drafted and wrote product and company messaging.</li>
                <li>Created scenarios to define and guide website goals and requirements.</li>
                <li>Created maintained content inventory and project work-back plans.</li>
                <li>Learned new technology to support my work: Middleman, Bootstrap, SalesForce forms.</li>
                <li>Sketched and white boarded initial design ideas.</li>

            </ul>

            </div>

            <div class="col-md-6">

            <ul>
                <li>Produced prototypes in working HTML, CSS, and JavaScript.</li>
                <li>Built production website and maintained code.</li>
                <li>Built, tested, and iterated sales lead landing pages.</li>
                <li>Defined metrics and setup and maintained Google Analytics for reporting.</li> 
            </ul>

            </div>
        </div>
    </div><!-- /.highlights -->

<div class="row">

    <div class="col-md-8 col-md-offset-2">
    
    <h3>My Role</h3>
    <p>I used my UX skill set to manage and execute this project at a fast pace. I drafted and wrote content, created user scenarios, prototypes, and content tracking documents. Finally, I designed, coded, launched and managed the website and content marketing moving forward.</p>
 
    
    <h3>Problem</h3>
    <p>Healthentic had a good customer base, but its sales and go-to-market strategy was not performing up to expectations. After working at Healthentic for three years, I was in for the wild ride of a company acceleration effort. My product, design, and communications background meant I would be on point for defining the value for customers and potential customers.</p>

    <p>The leadership team wanted to put a data-driven sales pipeline in place that used the web as a key cornerstone for driving lead generation. I had about three weeks to create new product messaging and design and build a website to support it. It was a given that there would be continued iteration, so whatever the approach, I needed to make sure I could continue to quickly make incremental changes post-July 1 launch. One important business requirement was that the site had to provide metrics on our site traffic and landing pages, so the architecture needed to support this by design.</p>

    <h3>Process</h3>
    <p>The mantra was &quot;go faster&quot;, so I knew that we had to get right down to it&mdash;there wouldn&rsquo;t be time for in-depth research or lengthy design sessions. I started by capturing and articulating each of the communication and website goals. Next, I wrote a set of scenarios that represented both customers and internal stakeholders. Working from these scenarios, I sketched a high-level view of the architecture and critical content components. Along the way I reviewed the scenarios and resulting sketches with team members and leadership to get feedback and input.</p>

    <p>There were a number of things from the existing website that also had to work on the new website such as developer documentation, product login, and downtime routing. To handle this and all of the new pages, I created a content inventory that captured information about all of the current and new content. The inventory kept track of the entire project&rsquo;s progress and it served as a fine-grained status document for each content component and asset.</p>

    <h4>Product Messaging</h4>
    <p>The biggest component of this project was product messaging. Since leadership wanted to be closely involved in articulating the value of Healthentic products, we needed a tool that allowed the whole team to contribute and keep focus on content goals. I created content templates for each page of the website. This allowed me to punch out important information for contributors such as the the page goal, title, priority 1, and priority 2 content areas. This kept us in alignment as we fleshed out the information.</p>

    <h4>Design and Build</h4>
    <p>Relative to creating and writing product messaging, the design and build part of this project was fairly straight forward. Healthentic already had a branding guide that provided the basics (color, logo, tone, and brand feel). Falling back on my experience building rapid prototypes, I was able to quickly get a basic, static web site up and running with the Bootstrap CSS framework and some other helpful Ruby tools. At this point it didn&rsquo;t make sense to invest the effort in to a content management system since I was anticipating a lot of change before and after our launch date.</p>

    <p>I turned the initial ideas and sketches into a working, black-white-and-gray prototype of the web site. We iterated on the architecture, layouts, and design until we had something that the team was happy with. Along the way, I worked with various stakeholders to ensure our message stayed on point and the key user and business scenarios had been addressed by the design.</p>

    <h4>Measurement and Data Collection</h4>
    <p>Once launched, I continued to iterate on the design and content. One specific area of concern was the landing page conversion rates for our email and marketing campaigns. Google Analytics gave us the insight we needed to evaluate and successfully improve key pages on the website. I set up a customized analytics profile with conversion goals to measure our progress.</p>


    <div class="in-line caption">
        <div class="row">
            <div class="col-md-8"><img src="http://placehold.it/800x1200" class="img-responsive" /></div>
            <div class="col-md-4"><figcaption><span class="title">Figure 2.</span> <span class="caption-body">Ahem.</span></figcaption></div>
        </div>
    </div>


    <p class="indent">Paragraph with an indent following image</p>

    
    <img src="http://www.placehold.it/1000x500" class="img-responsive" />
    <figcaption><span class="title">Figure 3.</span> <span class="caption-body"> Srsly.</span></figcaption>

    
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            
            <img src="http://placehold.it/1280x600" class="img-responsive"/>
            <figcaption><span class="title">Figure 4.</span> <span class="caption-body">Second feature image.</span></figcaption>
        </div>
    </div>

<div class="row">

    <div class="col-md-8 col-md-offset-2">

    <h3>Outcomes</h3>
    <p>The Healthentic leadership board was very happy with the initial, day one improvements that came with the launch. I continued iterating the content and page designs to successfully raise the conversion rate from &lt;1% to 8% in under 3 months. </p>
    
    </div>


    </div>
</div>
</article>