---
title: Healthentic Web Site Redeux &sect; Work - RyanCollier.co
---

<% content_for :headline do %>
    
<div class="container summary">
    <h1>Healthentic Web Site <i>Redeux</i></h1>

    <p class="lead">During company acceleration, I stepped outside of my UX role to focus entirely on product marketing for Healthentic. I created fresh product messaging and a new web site that could support a data-driven sales pipeline and strategy.</p>

</div>

<% end %>

<article>
<img class="img-responsive feature" src="/work/images-healthentic-redux/feature-website-home.jpg" alt="" />
<figcaption><span class="title">Home Page.</span> <span class="caption-body"> Revitalized product messaging and value propositions were featured on the home page. As shown here, we used quotes for third-party validation and company data to establish credibility, like the number of employers served and the people represented in data. </span></figcaption>

<div class="highlights">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h2">Highlights</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

              <ul>
                <li>Drafted and wrote product and company messaging.</li>
                <li>Created scenarios to define and guide web site goals and requirements.</li>
                <li>Created maintained content inventory and project work-back plans.</li>
                <li>Learned new technology to support my work: Middleman, Bootstrap, SalesForce forms.</li>
                <li>Sketched and white boarded initial design ideas.</li>

            </ul>

            </div>

            <div class="col-md-6">

            <ul>
                <li>Produced prototypes in working HTML, CSS, and JavaScript.</li>
                <li>Built production web site and maintained code.</li>
                <li>Built, tested, and iterated sales lead landing pages.</li>
                <li>Defined metrics and setup and maintained Google Analytics for reporting.</li> 
            </ul>

            </div>
        </div>
    </div><!-- /.highlights -->

<div class="row">

    <div class="col-md-8 col-md-offset-2">
    
        <h3>My Role</h3>
        <p>I used my UX skill set to manage and execute this project at a fast pace. I drafted and wrote content, created user scenarios, prototypes, and content tracking documents. Finally, I designed, coded, launched and managed the web site and content marketing moving forward.</p>
     
        
        <h3>Problem</h3>
        <p>Healthentic had a good customer base, but its sales and go-to-market strategy was not performing up to expectations. After working at Healthentic for three years, I was in for the wild ride of a company acceleration effort. My product, design, and communications background meant I would be on point for defining the value for customers and potential customers.</p>

        <p>The leadership team wanted to put a data-driven sales pipeline in place that used the web as a key cornerstone for lead generation. I had about three weeks to create new product messaging and design and build a web site to support it. Continued iteration was a given, so whatever the approach, I needed to make sure I could continue to make fast, incremental changes post launch. One important business requirement was that the site had to provide metrics on our site traffic and landing pages, so the architecture needed to support this by design.</p>


   </div>   
</div>

<div class="row">

    <div class="col-sm-12 col-md-6">
        <img src="/work/images-healthentic-redux/landing-page-v1.jpg" class="img-responsive stacked" />
        
    </div>
    <div class="col-sm-12 col-md-6">
        <img src="/work/images-healthentic-redux/landing-page-v2.jpg" class="img-responsive" />
         
        
    </div>

</div>

    <div clas="col-md-12">
        <figcaption><span class="title">Iteration 1 &amp; 4.</span> <span class="caption-body">We started with a landing page that matched the site design (<span class="visible-md-inline visible-lg-inline">left</span><span class="visible-xs-inline visible-sm-inline">top</span>). Shortly after launch, I felt&mdash;and saw in the data&mdash;that this design wasn&rsquo;t optimized for the key task on the page. After iterating and testing, we replaced the original with this new design (<span class="visible-md-inline visible-lg-inline">right</span><span class="visible-xs-inline visible-sm-inline">bottom</span>) which was a marked improvement. The updated version made the primary task clear by removing unnecessary elements and communicated a clear, direct call to action.</span></figcaption>
    </div>



<div class="row">

    <div class="col-md-8 col-md-offset-2">


        <h3>Process</h3>
        <p>The mantra was &ldquo;go faster&rdquo;, so I knew that we had to get right down to it; there wouldn&rsquo;t be time for in-depth research or lengthy design sessions. I started by capturing and articulating each of the communication and web site goals as stated by internal stakeholders. Next, I wrote a set of scenarios that represented both customers and internal stakeholders. Working from these scenarios I punched out some missing, but important things that the web site needed to support. Continuing from a more complete set of scenarios, I sketched a high-level view of the architecture and critical content components. To get feedback and input, I regularly reviewed the scenarios and resulting sketches with team members and leadership.</p>

        <p>There were a number of things from the existing web site that also had to work on the new web site such as developer documentation, product login, and downtime routing. To handle this and all of the new pages, I created a content inventory that captured information about all existing and new content.</p>

        <img src="/work/images-healthentic-redux/content-inventory.png" class="img-responsive"/>
        <figcaption><span class="title">Content Inventory.</span> <span class="caption-body"> I used this inventory to keep track of project progress as well as a fine-grained status for each content component and asset.</span></figcaption>

        <h4>Product Messaging</h4>
        <p>The most challenging part of this project was coming up with new product messaging. Since leadership wanted to be closely involved in articulating the value of Healthentic products, we needed a tool that allowed the whole team to contribute and keep focus on content goals. I created content templates for each page of the web site. This allowed me to punch out important information for contributors such as the the page goal, title, priority 1, and priority 2 content areas. This kept us in alignment as we fleshed out the information.</p>

        <h4>Design and Build</h4>
        <p>Relative to creating and writing product messaging, the design and build part of this project was fairly straight forward. Healthentic already had a branding guide that provided the basics (color, logo, tone, and brand feel). Falling back on my experience building rapid prototypes, I was able to quickly get a basic, static web site up and running with the <a href="http://getbootstrap.com/">Bootstrap CSS framework</a> and some other <a href="http://compass-style.org/">helpful</a> <a href="http://middlemanapp.com/">Ruby tools</a>. At this point it didn&rsquo;t make sense to invest the time and effort in a content management system since I was anticipating a lot of change before and after our launch date.</p>

        <img src="/work/images-healthentic-redux/design-in-progress.jpg" class="img-responsive"/>
        <figcaption><span class="title">Black-White-And-Gray Prototype.</span> <span class="caption-body"> A low fidelity prototype built in the browser using HTML and the <a href="http://getbootstrap.com/">Bootstrap CSS</a> library. I avoided adding too much visual branding to keep our team focused on the content before getting into the more subjective aspects of the design.</span></figcaption>

        <p>I turned the initial ideas and sketches into a working, black-white-and-gray prototype of the web site. We iterated on the architecture, layouts, and design until we had something that the team was happy with. Along the way, I worked with various stakeholders to ensure our message stayed on point and the key user and business scenarios had been addressed by the design.</p>

        <h4>Measurement and Data Collection</h4>
        <p>Once launched, I continued to iterate on the design and content. One specific area of concern was the landing page conversion rates for our email and marketing campaigns. Google Analytics gave us the insight we needed to evaluate and successfully improve key pages on the web site. I set up a customized analytics profile with conversion goals to measure our progress.</p>

        <img src="/work/images-healthentic-redux/google-analytics.png" class="img-responsive img-thumbnail"/>
        <figcaption><span class="title">Analytics.</span> <span class="caption-body">Two month averages of web site goal completions showed a steady increase as we iterated the designs and continued to improve content marketing.</span></figcaption>

        <p>One final, key need was to collect interested user&rsquo;s names, emails, and other contact information to feed into our sales pipeline. Initially, we setup a basic email form, however this rapidly became untenable as the sales team needed to regularly report metrics into our company dashboard. For this, I worked with our SalesForce administrator to create web-to-lead forms for our landing pages. This allowed us to collect and pass important visitor information from the input form and browser cookies directly into SalesForce.</p>

        <h3>Outcomes</h3>
        <p>The Healthentic leadership team was very happy with the initial, day one improvements that came with the launch. I continued iterating the content and page designs to successfully raise the conversion rate from &lt;1% to 8% in under 3 months. </p>
        
     
</div>
</article>