---
title: Work - RyanCollier.co
---

<% content_for :headline do %>
    <div class="container summary">

    <h1>Work Samples</h1>

    <p>Selected projects and work samples.</p>
  
    </div>
<% end %> 


<div class="work-feature">
  <div class="row">
    <div class="col-md-12">
      <h2>Detailed Samples</h2>
    </div>
  </div>


 <div class="work-feature-item"> 
    <div class="row">
      <div class="col-md-12">
        <h3 class="nomargin top entry-titile">
          <a href="/work/tracking/">Tracking Health and Wellness Programs</a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
          <a href="/work/tracking/"><img src="/work/images-tracking/feature-tracking.jpg" class="img-responsive"></a>
      </div> 
      <div class="col-md-5">
          <p>Healthentic wanted to increase user engagement with the Population Health Dashboard reporting product. Through user research, we discovered an unmet need that could also increase customer-product interactions, so we designed a tracking feature to match.</p>
          <a href="/work/tracking/">Read more &raquo;</a>
      </div>
    </div>
  </div>

 <div class="work-feature-item"> 
    <div class="row">
      <div class="col-md-12">
        <h3><a href="/work/healthentic-ux/">On Process: Doing UX at Healthentic</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
          <a href="/work/healthentic-ux/"><img src="/work/images-healthentic-ux/process.jpg" class="img-responsive"></a>
      </div> 
      <div class="col-md-5">
          <p>Healthentic development worked in a three week, Agile/Scrum sprint cycle. To successfully mix user experience design with existing engineering practices, I established processes and tools light on documentation and heavy on working prototypes and re-usable design assets.</p>
          <a href="/work/healthentic-ux/">Read more &raquo;</a>
      </div>
    </div>
  </div>

<div class="work-feature-item">
  <div class="row">
    <div class="col-md-12">
      <h3 class="entry-title">
        <a href="/work/financialaid/">Bellevue College Financial Aid</a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <a href="/work/financialaid/"><img src="/work/images-financialaid/feature-apply-for-aid.jpg" class="entry-image img-responsive"></a>
    </div> 
    <div class="col-md-5">
     <p>After user research uncovered a confusing and overwhelming process for students and their parents, I redesigned the application process and supporting web site.</p>
      <a href="/work/financialaid/" class="entry-link read-more">Read more &raquo;</a>
    </div>
    </div>
  </div>


  <div class="work-feature-item"> 
    <div class="row">
      <div class="col-md-12">
        <h3>
          <a href="/work/healthentic-redux/">Healthentic Web Site <i>Redeux</i></a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
          <a href="/work/healthentic-redux/"><img src="/work/images-healthentic-redux/feature-website-home.jpg" class="img-responsive"></a>
      </div> 
      <div class="col-md-5">
          <p>During company acceleration, I stepped outside of my UX role to focus entirely on product marketing for Healthentic. I had three weeks to design and deliver sharp product messaging and a new web site that could support a data-driven sales pipeline and strategy.</p>
          <a href="/work/healthentic-redux/">Read more &raquo;</a>
      </div>
    </div>
  </div>


</div>

<% content_for :ps_content do %>
<div class="snap-shots">
    <div class="row">
      <div class="col-md-12">
          <h2>Snap Shots</h2>
              
          <div class="row">
            
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/dxpopover-prototype.jpg" class="fancybox" data-title-id="dxpopover-prototype" rel="group"><img src="/work/snapshots/thumbs/dxpopover-prototype.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/tableau-viz.jpg" class="fancybox" data-title-id="tableau-viz" rel="group"><img src="/work/snapshots/thumbs/tableau-viz.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/available-data.jpg" class="fancybox" data-title-id="available-data" rel="group"><img src="/work/snapshots/thumbs/available-data.jpg" alt="Image" class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/hra-flow.jpg" class="fancybox" rel="group"><img src="/work/snapshots/thumbs/hra-flow.jpg" alt="Image" class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/thinking-sketch.jpg" class="fancybox" data-title-id="thinking-sketch" rel="group"><img src="/work/snapshots/thumbs/thinking-sketch.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/survey-sample.jpg" class="fancybox" data-title-id="survey-sample" rel="group"><img src="/work/snapshots/thumbs/survey-sample.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>

          </div><!--.row-->
  
          <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/tracktest-sketch.jpg" class="fancybox" data-title-id="tracktest-sketch" rel="group"><img src="/work/snapshots/thumbs/tracktest-sketch.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/trackscenario-sketch.jpg" class="fancybox" data-title-id="trackscenario-sketch" rel="group"><img src="/work/snapshots/thumbs/trackscenario-sketch.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/initiatives-design.jpg" class="fancybox" data-title-id="initiatives-design" rel="group"><img src="/work/snapshots/thumbs/initiatives-design.jpg" alt="Image" class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/maternity-design.jpg" class="fancybox" data-title-id="maternity-design" rel="group"><img src="/work/snapshots/thumbs/maternity-design.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/productivity-design.jpg" class="fancybox" data-title-id="productivity-design" rel="group"><img src="/work/snapshots/thumbs/productivity-design.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/trackia-sketch.jpg" class="fancybox" data-title-id="trackia-sketch" rel="group"><img src="/work/snapshots/thumbs/trackia-sketch.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
         
         </div><!--.row-->              

          <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/phdoverview-design.jpg" class="fancybox" data-title-id="phdoverview-design" rel="group"><img src="/work/snapshots/thumbs/phdoverview-design.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/hsewi-design.jpg" class="fancybox" data-title-id="hsewi-design" rel="group"><img src="/work/snapshots/thumbs/hsewi-design.jpg" alt="Image" class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/coe-design.jpg" class="fancybox" data-title-id="coe-design" rel="group"><img src="/work/snapshots/thumbs/coe-design.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/coe-sitemap.jpg" class="fancybox" data-title-id="coe-sitemap" rel="group"><img src="/work/snapshots/thumbs/coe-sitemap.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/travel-design.jpg" class="fancybox" data-title-id="travel-design" rel="group"><img src="/work/snapshots/thumbs/travel-design.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="/work/snapshots/sdc-design.jpg" class="fancybox" data-title-id="sdc-design" rel="group"><img src="/work/snapshots/thumbs/sdc-design.jpg" alt="Image"  class="thumbnail img-responsive"></a></div>
          
          </div><!--.row-->   

      </div>
    </div>
</div>

<%= partial '/work/snapshots/captions' %>

<% end %>


<% content_for :page_js do %>
  
  <script type="text/javascript">

    $(document).ready(function() {

      $(".fancybox")
      .fancybox({
          type: 'image',
          helpers : {
            title: {
              type: 'inside',
              position: 'bottom'
            }
          }, 
          beforeLoad: function() {
              var el, id = $(this.element).data('title-id');
              if (id) {
                  el = $('#' + id);
                  if (el.length) {
                      this.title = el.html();
                  }
              }
          }
      }); //fancybox
    });

  </script>

<% end %>

