---
title: Work - RyanCollier.co
---

<% content_for :headline do %>
    <div class="container summary">

    <h1>Work Samples</h1>

    <p>Selected projects and work samples.</p>
    <!--  <div class="text-center"><center><img src="/images/airplane2.png" width="200" class="img-responsive" style="margin-bottom: .1em" /></center></div>

 -->
    </div>
<% end %> 


<div class="work-feature">
  <div class="row">
    <div class="col-md-12">
      <h2>Detailed Samples</h2>
    </div>
  </div>


 <div class="work-feature-item"> 
    <div class="row">
      <div class="col-md-12">
        <h3 class="nomargin top entry-titile">
          <a href="/work/tracking/">Tracking Health and Wellness Programs</a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
          <a href="/work/tracking/"><img src="/work/images-tracking/feature-tracking.jpg" class="img-responsive"></a>
      </div> 
      <div class="col-md-5">
          <p>Healthentic wanted to increase user engagement with the Population Health Dashboard reporting product. After going back to the drawing board, through research we discovered an unmet need that could also increase customer-product interactions, so we designed a tracking feature to match.</p>
          <a href="/work/tracking/">Read more &raquo;</a>
      </div>
    </div>
  </div>

 <div class="work-feature-item"> 
    <div class="row">
      <div class="col-md-12">
        <h3><a href="/work/healthentic-ux/">On Process: Doing UX at Healthentic</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
          <a href="/work/healthentic-ux/"><img src="/work/images-healthentic-ux/process.jpg" class="img-responsive"></a>
      </div> 
      <div class="col-md-5">
          <p>Healthentic development worked in a three week, Agile/Scrum sprint cycle. To successfully mix user experience design with existing engineering practices, I established processes and tools light on documentation and heavy on working prototypes and re-usable design assets.</p>
          <a href="/work/healthentic-ux/">Read more &raquo;</a>
      </div>
    </div>
  </div>

<div class="work-feature-item">
  <div class="row">
    <div class="col-md-12">
      <h3 class="entry-title">
        <a href="/work/financialaid/">Bellevue College Financial Aid</a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <a href="/work/financialaid/"><img src="/work/images-financialaid/feature-apply-for-aid.jpg" class="entry-image img-responsive"></a>
    </div> 
    <div class="col-md-5">
     <p>After user research uncovered a confusing and overwhelming process for students and their parents, I redesigned the application process and supporting web site.</p>
      <a href="/work/financialaid/" class="entry-link read-more">Read more &raquo;</a>
    </div>
    </div>
  </div>


  <div class="work-feature-item"> 
    <div class="row">
      <div class="col-md-12">
        <h3>
          <a href="/work/healthentic-redux/">Healthentic Web Site <i>Redeux</i></a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
          <a href="/work/healthentic-redux/"><img src="/work/images-healthentic-redux/feature-website-home.jpg" class="img-responsive"></a>
      </div> 
      <div class="col-md-5">
          <p>During company acceleration, I stepped outside of my UX role to focus entirely on product marketing for Healthentic. I had three weeks to design and deliver sharp product messaging and a new web site that could support a data-driven sales pipeline and strategy.</p>
          <a href="/work/healthentic-redux/">Read more &raquo;</a>
      </div>
    </div>
  </div>


</div>

<% content_for :ps_content do %>
<div class="snap-shots">
    <div class="row">
      <div class="col-md-12">
          <h2>Snap Shots</h2>
              
          <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6"><a class="fancybox" data-title-id="snap-1" rel="group" href="http://placehold.it/1000x700"><img src="http://placehold.it/400x400" alt="Image" class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a class="fancybox" rel="group" href="http://placehold.it/1000x700"><img src="http://placehold.it/400x400" alt="Image" class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
          </div><!--.row-->
  
          <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#" class=""><img src="http://placehold.it/400x400" alt="Image" class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
            <div class="col-md-2 col-sm-4 col-xs-6"><a href="#"><img src="http://placehold.it/400x400" alt="Image"  class="thumbnail img-responsive"></a></div>
          </div><!--.row-->     
      </div>
    </div>
</div>

<div id="snap-1" class="hidden">
    <figcaption><span class="title">Figure 1.</span> <span class="caption-body"> Caption goes here and it's a really long caption with just the right amount of detail for the related image that it's describing. Caption goes here and it's a really long caption with just the right amount of detail for the related image that it's describing.</span></figcaption>
</div>

<% end %>


<% content_for :page_js do %>
  
  <script type="text/javascript">

    $(document).ready(function() {

      $(".fancybox")
      .fancybox({
          type: 'image',
          helpers : {
            title: {
              type: 'inside',
              position: 'bottom'
            }
          }, 
          beforeLoad: function() {
              var el, id = $(this.element).data('title-id');
              if (id) {
                  el = $('#' + id);
                  if (el.length) {
                      this.title = el.html();
                  }
              }
          }
      }); //fancybox
    });

  </script>

<% end %>

