---
title: Financial Aid &sect; Work - RyanCollier.co
---

<% content_for :headline do %>
    
<div class="container summary">
    <h1>Post Title</h1>

    <p class="lead">Summary of this post.</p>
</div>

<% end %>

<article>
<img class="img-responsive feature" src="http://placehold.it/1280x640" alt="" />
<figcaption><span class="title">Figure 1.</span> <span class="caption-body">Details are here.</span></figcaption>

<div class="highlights">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h2">Highlights</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

              <ul>
                    <li>List 1</li>
                    
            </ul>

            </div>

            <div class="col-md-6">

                <ul>
                  
                    <li>List 2</li>
                </ul>

            </div>
        </div>
    </div><!-- /.highlights -->

<div class="row">

    <div class="col-md-8 col-md-offset-2">
    
    <h3>My Role</h3>
    <p>Role info </p>
 
    
    <h3>Problem</h3>
    <p>Problem Info</p>

    <h3>Process</h3>
    <p>Process details</p>

    <div class="in-line caption">
        <div class="row">
            <div class="col-md-8"><img src="http://placehold.it/800x1200" class="img-responsive" /></div>
            <div class="col-md-4"><figcaption><span class="title">Figure 2.</span> <span class="caption-body">Ahem.</span></figcaption></div>
        </div>
    </div>


    <p class="indent">Paragraph with an indent following image</p>

    
    <img src="http://www.placehold.it/1000x500" class="img-responsive" />
    <figcaption><span class="title">Figure 3.</span> <span class="caption-body"> Srsly.</span></figcaption>

    
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            
            <img src="http://placehold.it/1280x600" class="img-responsive"/>
            <figcaption><span class="title">Figure 4.</span> <span class="caption-body">Second feature image.</span></figcaption>
        </div>
    </div>

<div class="row">

    <div class="col-md-8 col-md-offset-2">

    <h3>Outcomes</h3>
    <p>The goods go here.</p>
    
    </div>


    </div>
</div>
</article>