---
title: Tracking Health and Wellness Programs &sect; Work - RyanCollier.co
---

<% content_for :headline do %>
    
<div class="container summary">
    <h1>Tracking Health and Wellness Programs</h1>

    <p class="lead">Healthentic wanted to increase user engagement with the Population Health Dashboard reporting product. After going back to the drawing board, through research we discovered an unmet need that could also increase customer-product interactions, so we designed a tracking feature to match.</p>
</div>

<% end %>

<article>
    <img class="img-responsive feature" src="/work/images-tracking/feature-tracking.jpg" alt="Events Tracking feature for the Populaiton Health Dashboard screenshot" />
    <figcaption><span class="title">Track Events.</span> <span class="caption-body">Primary interface for tracking health and wellness related events in context of sample data visualization.</span></figcaption>

    <div class="highlights">
        <div class="row">
            <div class="col-md-12">
                <h3 class="h2">Highlights</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

              <ul>
                    
                    <li>Created a project plan and received buy in from company executives and subject matter experts.</li>
                    <li>Recruited, screened, and conducted user interviews with 9 customers and potential customers.</li>
                    <li>Analyzed transcripts and notes, collaborated with team to create customer journey map.</li>
                    <li>Proposed and iterated design solution through paper prototyping and wireframes.</li>
                    <li>Teamed with account management to create a roll out plan that was congruent with existing practices.</li>

                    
            </ul>

            </div>

            <div class="col-md-6">

                <ul>
                  
                    <li>Worked with developer to create functional prototype with Google Visualization API.</li>
                    <li>Tested and iterated design with customers and internal stakeholders.</li>
                    <li>Created and managed UI requirements and development backlog.</li>
                    <li>Successfully launched tracking feature.</li>

                </ul>

            </div>
        </div>
    </div><!-- /.highlights -->

    <div class="row">

        <div class="col-md-8 col-md-offset-2">
        
        <h3>My Role</h3>
        <p>As a user experience designer for Healthentic, I managed this project from end-to-end. I was responsible for research and discovery, final prototypes, UI documentation, and the story backlog for development. I worked collaboratively with product mangers, subject matter experts, and executives throughout the project. Product and design team members contributed to customer interviews, analysis, journey mapping, and prototyping. </p>
     
        
        <h3>Problem</h3>
        <p>Healthentic&rsquo;s Population Health Dashboard provided a great deal of reporting in a simple, easy to use package. It solved the problem of untimely, disparate health data for human resource administrators and benefit managers. Although customers regularly renewed the service each year, usage was sporadic. The business goal of this project was to increase engagement, but finding a viable product strategy to meet this goal meant we needed to learn more about the users current behaviors, understand their journey.</p>

        <h3>Process</h3>
        <p>I screened, recruited, and conducted interviews (ethnography) to learn about benefits planning. Using a set of question prompts, our team learned about a yearly planning cycle used to make health benefit changes, plan modifications, or implement new programs (e.g. health and wellness programs). We organized the data collected and developed a customer journey map we could use for analysis and to open up communication with the entire Healthentic team about our customers.</p>

        <div class="in-line caption">
            <div class="row">
                <div class="col-md-8"><img src="/work/images-tracking/journey-map.jpg" class="img-responsive" /></div>
                <div class="col-md-4"><figcaption><span class="title">Journey Map.</span> <span class="caption-body">Research was organized and synthesized using a customer journey map. In the interviews, we asked participants to describe how they have implemented, tracked, and measured a health or wellness program in the past. After a few interviews we started hearing repeated themes in the process. Quotes were later transcribed and organized along three dimensions&mdash;do, feel, and want&mdash;and within the themed steps that participants described.</span></figcaption></div>
            </div>
        </div>


        <p class="indent">Through this research we learned that users had a difficult time tracking their benefit changes and programs year-over-year. They kept detailed spreadsheets, but they were only marginally usable in the context of benefit planning. This presented an opportunity to solve a problem that was both consistent with users&rsquo; past behaviors and could meet the goal of increasing meaningful interactions with the product. </p>

        <p>Our hypothesis was that users wanted a way to quickly and consistently understand health outcomes related to their programs and benefit changes. We would create a tracking function that would allow users to quickly capture their changes, events, and programs to catalog and visualize them against their live data. This would give users a reason to login and use the Population Health Dashboard on a regular basis. Before getting totally immersed in the design of the new feature, I wrote a short form creative brief to get the team on the same page. This provided a way to keep the project focused on the key user scenarios at the forefront of our design work.</p>

        
       <div class="in-line caption">
            <div class="row">
                <div class="col-md-8"><img src="/work/images-tracking/creative-brief.png" class="img-responsive" /></div>
                <div class="col-md-4"><figcaption><span class="title">Creative Brief.</span> <span class="caption-body">Document used to keep essential pieces of project and user context at the center of design discussions and meetings. Agreement on the content in the brief meant design work could progress in a focused way. This is a technique borrowed from Jared Spool's <a href="http://www.uie.com/articles/short_form_creative_brief/">User Interface Engineering web site</a>.</span></figcaption></div>
            </div>
        </div>

        <p class="indent">I iterated from white board sketches and paper prototypes all the way to requirement and implementation. As design problems were tackled, the fidelity of our artifacts increased. First, the focus was on only a few key screens that users would interact with most. Our testing focused on these designs first. We would work out  detailed interactions and edge cases later.</p>

       </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            
            <img src="/work/images-tracking/fidelity.jpg" class="img-responsive"/>
            <figcaption><span class="title">Increasing Fidelity.</span> <span class="caption-body">Design work started in notebooks and moved through PowerPoint to functional prototypes. Keeping designs low fidelity in early stages made it easy to scrap ideas and start over.</span></figcaption>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

        <p>There were lots of challenges I had to address, such as the variable data availability and the existing implementation of &ldquo;time periods&rdquo; within the product. While difficult, these problems provided constraints that would help focus the design on the highest priority user scenarios and tasks. As the design progressed, I did cognitive walk-throughs with customers and our internal team to ensure we were on track, making changes as needed.</p>
        
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            
            <img src="/work/images-tracking/track-requirement.jpg" class="img-responsive"/>
            <figcaption><span class="title">UI requirement.</span> <span class="caption-body"> Detailed requirements were used for this feature to describe the chart interactions. These requirements were used to build a functional prototype with the Google Chart API. A fully functional prototype allowed us to evaluate and fine tune the design before involving the entire development team, which would need to deal with the underlying data in addition to the UI.</span></figcaption>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <p class="indent">This product change also introduced a new level of &ldquo;drill in&rdquo; functionality that would be available throughout the application. To address these, I also had to consider the broader implications for the information architecture of the product. How would the addition of event tracking affect data displays on the product dashboard or influence important user tasks we were already supporting?</p>

            <img src="/work/images-tracking/drill-scenarios.jpg" class="img-responsive"/>
            <figcaption><span class="title">Thinking Through Scenarios.</span> <span class="caption-body">One of many sketches used to work through user task flows for surrounding the new tracking feature and the changes it would introduce to the product's information architecture.</span></figcaption>

            <h3>Outcomes</h3>
            <p>218 tracking events were captured by users in just the first two and half months after the feature was made available in Q3 2014. </p>
        
        </div>
    </div>

</article>