---
title: About - RyanCollier.co
---

<% content_for :headline do %>
    <div class="container summary">

    <h1>About</h1>

    <p>Thank you for your interest!</p>
  
    </div>
<% end %> 


<article>
  <div class="row">
    <div class="col-md-8">
     
      <p>I'm a user experience professional with over six years of experience in web and user experience design. I like to work on design and research projects where I can use my creative, analytic, and technical skills to better the everyday lives of people.</p>

      <p class="no-indent">I earned a Master of Science in Human Centered Design and Engineering from the University of Washington.</p>

      <p class="no-indent">Love design, music, food, and laughing out loud!</p>
     
       <h2 class="h4">Skill Set Highlights</h2>
              <ul>
                  <li>User centered design</li>
                  <li>User research</li>
                  <li>Prototyping</li>
                  <li>Usability testing</li>
                  <li>HTML, CSS, JavaScript</li>
                  <li>Web standards and accessibility</li>
                  <li>Responsive design</li>
                  <li>Photoshop, Illustrator, Fireworks, Omnigraffle</li>
                  <li>Google Analytics</li>
            </ul>

    </div> 

    <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-8">
      
          <img src="/images/rc-pro-square.jpg" class="img-thumbnail img-responsive"/>
       <p>
          <ul class="list-unstyled text-center">
              <li><a href="mailto:rdcollier@gmail.com" class="cta">rdcollier@gmail.com</a></li>
              <li><a href="http://www.linkedin.com/pub/ryan-collier/a/50b/9a3/" class="cta">LinkedIn</a></li>
          </ul>
      </p>
    </div>
  </div>




</article>




<% content_for :page_js do %>
<% end %>

