---
title: About - RyanCollier.co
---

<% content_for :headline do %>
    <div class="container summary">

    <h1>About</h1>

    <p>Lover and creator of design, music, food, and laughs.</p>
  
    </div>
<% end %> 


<article>
  <div class="row">
    <div class="col-md-8">
      <p>I'm a user experience professional with over six years of experience. Thanks for visiting and your interest!</p>
      <div class="highlights">
      <h2>Skill Set Highlights</h2>
        <ul>
            <li>User-centered design processes, research, and applied design techniques</li>
            <li>Prototyping</li>
            <li>usability testing</li>
            <li>HTML, CSS, JavaScript</li>
            <li>Google Analytics</li>
            <li>Web standards and accessibility</li>
            <li>Responsive design</li>
            <li>Photoshop, Illustrator, Fireworks, Omnigraffle</li>
      </ul>


      <h2>Accomplishments</h2>
        <ul>
          <li>Researched, defined, and performed product ownership duties in the development and launch of health informatics product for non-technical, human resource benefit administrators.</li>
          <li>Designed and delivered health program tracking feature to relieve a major pain point for benefit managers as discovered through ethnographic research and customer journey map analysis.</li>
          <li>Transitioned quickly into Head of Product Marketing role during company acceleration, realigned product messaging, redesigned web site, and developed data-driven web strategy that improved overall lead conversion rate from less than one percent to over eight percent in under three months.</li>
          <li>Redesigned college financial aid application process and supporting web site to increase completion rate for new students.</li>
          <li>Led discovery and user research efforts to focus college technology development project priorities on high-value student needs, surfacing key pain-points for students.</li>
          <li>Certified Scrum Product Owner.</li>
        </ul>
      </div>

    </div>
  </div>

</article>

<% content_for :ps_content do %>
<% end %>


<% content_for :page_js do %>
<% end %>

