---
title: Ryan Collier, User Experience Professional
---

<% content_for :headline do %>
    <div class="container summary">

      <p class="h1">User Experience Professional Skilled in Design, Design Research, Product Management, and Prototyping</p>

       <div class="text-center"><center><img src="/images/airplane2.png" width="200" class="img-responsive" style="margin-bottom: .1em" /></center></div>


    </div>
<% end %> 


<div class="work-feature">
  <div class="row">
    <div class="col-md-12">
      <h2>Work Samples</h2>
    </div>
  </div>


  <div class="work-feature-item"> 
    <div class="row">
      <div class="col-md-12">
        <h3 class="nomargin top"><a href="/work/tracking/">Tracking Health and Wellness Programs</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <a href="/work/tracking/"><img src="/work/images-tracking/feature-tracking.jpg" class="img-responsive"></a>
      </div> 
      <div class="col-md-6">
          <p>Healthentic wanted to increase user engagement with the Population Health Dashboard reporting product. After going back to the drawing board, through research we discovered an unmet need that could also increase customer-product interactions, so we designed a tracking feature to match.</p>
          <a href="/work/tracking/">Read more &raquo;</a>
      </div>
    </div>
  </div>

<div class="work-feature-item">
  <div class="row">
    <div class="col-md-12">
      <h3>
        <a href="/work/financialaid">Bellevue College Financial Aid</a>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="/work/financialaid"><img src="/work/images-financialaid/feature-apply-for-aid.jpg" class="img-responsive"></a>
    </div> 
    <div class="col-md-6">
      <p>After user research uncovered a confusing and overwhelming process for students and their parents, I redesigned the application process and supporting web site.</p>
      <a href="/work/financialaid/">Read more &raquo;</a>
    </div>
  </div>
</div>

<div class="row"><div class="col-md-12 text-center bump bottom top"><a href="/work/" class="btn btn-large btn-primary">All Work Samples &raquo;</a></div></div>
</div>

<% content_for :ps_content do %>
<div class="about">
  <div class="row">
      <div class="col-md-12">
        <h2 class="nomargin bottom">About Me</h2>
        <p class="nomargin top">Lover and creator of design, music, food, and laughs.</p>
        <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-4"><img src="/images/rc-pro-square.jpg" class="img-thumbnail img-responsive"/></div>
            <div class="col-md-4">
                <ul class="list-unstyled">
                    <li><a href="mailto:rdcollier@gmail.com">rdcollier@gmail.com</a></li>
                    <li><a href="http://www.linkedin.com/pub/ryan-collier/a/50b/9a3/">LinkedIn</a></li>
                </ul>
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>
