---
title: RyanCollier.co
---

<% content_for :headline do %>
    <div class="container summary">

      <p class="h1">User Experience Professional Skilled in Design Research, Product Management, Interface Design, and Prototyping</p>

       <div class="text-center"><center><img src="/images/airplane2.png" width="200" class="img-responsive" style="margin-bottom: .1em" /></center></div>


    </div>
<% end %> 


<div class="work-feature">
  <div class="row">
    <div class="col-md-12">
      <h2>Work Samples</h2>
    </div>
  </div>

<div class="work-feature-item">
  <div class="row"><div class="col-md-12"><h3 class="nomargin top">Bellevue College Financial Aid</h3></div></div>
    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/800x400" class="img-responsive">
    </div> 
    <div class="col-md-6">
        <p>After user research uncovered a confusing and overwhelming process for students and their parents, I redesigned the application process and supporting website.</p>
 <a href="/work/financialaid/" class="">Read more &raquo;</a> </p> 
    </div>
    </div>
  </div>

  <div class="work-feature-item"> 
    <div class="row">
      <div class="col-md-12">
        <h3>Tracking Health and Wellness Programs</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <img src="http://placehold.it/800x400" class="img-responsive">
      </div> 
      <div class="col-md-6">
          <p>
Healthentic wanted to increase user engagement with the Population Health Dashboard reporting product. After going back to the drawing board, we discovered an unmet need that could also increase customer-product interactions, so we designed a tracking feature to match.
 </p> <a href="#" class="">Read more &raquo;</a>
      </div>
    </div>
  </div>

<div class="row"><div class="col-md-12 text-center bump bottom top"><a href="/work/" class="btn btn-large btn-primary">All Work Samples &raquo;</a></div></div>
</div>

<% content_for :ps_content do %>
<div class="about">
  <div class="row">
      <div class="col-md-12">
        <h2>About Me</h2>
        <p>Here's some info about me</p>
      </div>
  </div>
</div>
<% end %>
