---
title: RyanCollier.co
---
        

<h2>Experience</h2>
<h3>Principal User Experience Designer</h3>
<h4>Healthentic | April 2011 &ndash; Present</h4>


       <!-- Typography
================================================== -->
<section id="typography">

<div class="gantry-width-block gantry-width-50">
<div class="gantry-left">
  <h2 id="headings">Headings</h2>
  <p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available.</p>
  <div class="gantry-example">
    <h1>h1. Heading 1</h1>
    <h2>h2. Heading 2</h2>
    <h3>h3. Heading 3</h3>
    <h4>h4. Heading 4</h4>
    <h5>h5. Heading 5</h5>
    <h6>h6. Heading 6</h6>
  </div>

  <h3>Built with Less</h3>
  <p>The typographic scale is based on two LESS variables in <strong>variables.less</strong>: <code>@baseFontSize</code> and <code>@baseLineHeight</code>. The first is the base font-size used throughout and the second is the base line-height. We use those variables and some simple math to create the margins, paddings, and line-heights of all our type and more. Customize them and Bootstrap adapts.</p>
</div></div>

<div class="gantry-width-block gantry-width-50">
<div class="gantry-right">
  <h2 id="body-copy">Body copy</h2>
  <p>Bootstrap's global default <code>font-size</code> is <strong>14px</strong>, with a <code>line-height</code> of <strong>1.7em</strong>. This is applied to the <code>&lt;body&gt;</code> and all paragraphs. In addition, <code>&lt;p&gt;</code> (paragraphs) receive a bottom margin of half their line-height (9px by default).</p>
  <div class="gantry-example">
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
  </div>
  <pre class="prettyprint">&lt;p&gt;...&lt;/p&gt;</pre>

  <h3>Lead body copy</h3>
  <p>Make a paragraph stand out by adding <code>.lead</code>.</p>
  <div class="gantry-example">
    <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
  </div>
  <pre class="prettyprint">&lt;p class=&quot;lead&quot;&gt;...&lt;/p&gt;</pre>


</div></div>
<div class="clear"></div>

<br /><!-- SEPARATOR -->


  <h2 id="emphasis">Emphasis</h2>
  <p>Make use of HTML's default emphasis tags with lightweight styles.</p>


<div class="gantry-width-block gantry-width-50">
<div class="gantry-left">
  <h4><code>&lt;em&gt;</code></h4>
  <p>For emphasizing a snippet of text with <em>stress</em></p>
  <div class="gantry-example">
    <p>The following snippet of text is <em>rendered as italicized text</em>.</p>
  </div>
  <pre class="prettyprint">&lt;em&gt;rendered as italicized text&lt;/em&gt;</pre>

  <h4><code>&lt;strong&gt;</code></h4>
  <p>For emphasizing a snippet of text with <strong>important</strong></p>
  <div class="gantry-example">
    <p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
  </div>
  <pre class="prettyprint">&lt;strong&gt;rendered as bold text&lt;/strong&gt;</pre>
</div></div>

<div class="gantry-width-block gantry-width-50">
<div class="gantry-right">
  <h4><code>&lt;small&gt;</code></h4>
  <p>For de-emphasizing inline or blocks of text, <small>use the small tag.</small></p>
  <div class="gantry-example">
    <p><small>This line of text is meant to be treated as fine print.</small></p>
  </div>
<pre class="prettyprint">&lt;p&gt;
  &lt;small&gt;This line of text is meant to be treated as fine print.&lt;/small&gt;
&lt;/p&gt;</pre><br />

  <p><strong>Note:</strong> Feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</p>
</div></div>
<div class="clear"></div>

<h3>Notice Styles</h3>

<p>Use the <code>&lt;p&gt;</code> tag with <code>.success</code>, <code>.warning</code>, <code>.info</code> or <code>.error</code> classes.</p>

<div class="gantry-width-block gantry-width-50">
<div class="gantry-left">
<div class="gantry-example"><p class="success">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p></div>
<pre class="prettyprint">&lt;p class=&quot;success&quot;&gt;...&lt;/p&gt;</pre>

<div class="gantry-example"><p class="info">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p></div>
<pre class="prettyprint">&lt;p class=&quot;info&quot;&gt;...&lt;/p&gt;</pre>
</div></div>    

<div class="gantry-width-block gantry-width-50">
<div class="gantry-right">
<div class="gantry-example"><p class="warning">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p></div>
<pre class="prettyprint">&lt;p class=&quot;warning&quot;&gt;...&lt;/p&gt;</pre>

<div class="gantry-example"><p class="error">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p></div>
<pre class="prettyprint">&lt;p class=&quot;error&quot;&gt;...&lt;/p&gt;</pre>
</div></div>

<div class="clear"></div>


<br /><!-- SEPARATOR -->

<div class="gantry-width-block gantry-width-50">
<div class="gantry-left" style="float: none;">
  <h2 id="abbreviations">Abbreviations</h2>
  <p>Stylized implementation of HTML's <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a <code>title</code> attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover.</p>

  <h4><code>&lt;abbr&gt;</code></h4>
  <p>For expanded text on long hover of an abbreviation, include the <code>title</code> attribute.</p>
  <div class="gantry-example">
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
  </div>
  <pre class="prettyprint">&lt;abbr title=&quot;attribute&quot;&gt;attr&lt;/abbr&gt;</pre>

  <h4><code>&lt;abbr class="initialism"&gt;</code></h4>
  <p>Add <code>.initialism</code> to an abbreviation for a slightly smaller font-size.</p>
  <div class="gantry-example">
    <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.</p>
  </div>
  <pre class="prettyprint">&lt;abbr title=&quot;attribute&quot; class=&quot;initialism&quot;&gt;attr&lt;/abbr&gt;</pre>
</div></div>

<div class="gantry-width-block gantry-width-50">
<div class="gantry-right">
  <h2 id="addresses">Addresses</h2>
  <p>Stylized implementation of HTML's element to present contact information for the nearest ancestor or the entire body of work.</p>

  <h4><code>&lt;address&gt;</code></h4>
  <p>Preserve formatting by ending all lines with <code>&lt;br&gt;</code>.</p>
  <div class="gantry-example">
    <address>
      <strong>Twitter, Inc.</strong><br>
      795 Folsom Ave, Suite 600<br>
      San Francisco, CA 94107<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890
    </address>
    <address>
      <strong>Full Name</strong><br>
      <a href="mailto:#"><span id="cloak42940">This email address is being protected from spambots. You need JavaScript enabled to view it.</span><script type='text/javascript'>
 <!--
 document.getElementById('cloak42940').innerHTML = '';
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy42940 = 'f&#105;rst.l&#97;st' + '&#64;';
 addy42940 = addy42940 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
 document.getElementById('cloak42940').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy42940 + '\'>' +addy42940+'<\/a>';
 //-->\n </script></a>
    </address>
  </div>
<pre class="prettyprint linenums">
&lt;address&gt;
  &lt;strong&gt;Twitter, Inc.&lt;/strong&gt;&lt;br&gt;
  795 Folsom Ave, Suite 600&lt;br&gt;
  San Francisco, CA 94107&lt;br&gt;
  &lt;abbr title=&quot;Phone&quot;&gt;P:&lt;/abbr&gt; (123) 456-7890
&lt;/address&gt;
&lt;address&gt;
  &lt;strong&gt;Full Name&lt;/strong&gt;&lt;br&gt;
  &lt;a href=&quot;mailto:#&quot;&gt;first.last&#64;gmail.com&lt;/a&gt;
&lt;/address&gt;
</pre>
</div></div>
<div class="clear"></div>

<br /><!-- SEPARATOR -->


  <h2 id="blockquotes">Blockquotes</h2>
  <p>For quoting blocks of content from another source within your document.</p>

  <h3>Default blockqoute</h3>
  <p>Wrap <code>&lt;blockquote&gt;</code> around any <abbr title="HyperText Markup Language">HTML</abbr> as the quote. For straight quotes we recommend a <code>&lt;p&gt;</code>.</p>
  <div class="gantry-example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
  </div>
<pre class="prettyprint linenums">&lt;blockquote&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
&lt;/blockquote&gt;</pre>

  <h3>Blockquote options</h3>
  <span>Style and content changes for simple variations on a standard blockquote.</span><br />

<div class="gantry-width-block gantry-width-50">
<div class="gantry-left">
  <h4>Naming a source</h4>
  <p>Add <code>&lt;small&gt;</code> tag for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</p>
  <div class="gantry-example">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
<pre class="prettyprint linenums">&lt;blockquote&gt;
  &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.&lt;/p&gt;
  &lt;small&gt;Someone famous &lt;cite title=&quot;Source Title&quot;&gt;Source Title&lt;/cite&gt;&lt;/small&gt;
&lt;/blockquote&gt;</pre>
</div></div>

<div class="gantry-width-block gantry-width-50">
<div class="gantry-right">
  <h4>Alternate displays</h4>
  <p>Use <code>.pull-right</code> for a floated, right-aligned blockquote.</p>
  <div class="gantry-example" style="overflow: hidden;">
    <blockquote class="pull-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
    </blockquote>
  </div>
<pre class="prettyprint linenums">&lt;blockquote class=&quot;pull-right&quot;&gt;
  ...
&lt;/blockquote&gt;</pre>
</div></div>
<div class="clear"></div>

<br /><!-- SEPARATOR -->
