<!-- 



srhra-flow
thinking-sketch
survey-sample 

tracktest-sketch
trackscenario-sketch
initiatives-design
maternity-design
productivity-design
trackia-sketch

phdoverview-design
hsewi-design
coe-design
coe-sitemap
travel-design
sdc-design

-->



<div id="dxpopover-prototype" class="hidden">
    <figcaption>
      <span class="title">Diagnoses Lookup.</span> 
      <span class="caption-body"> This was a functional prototype I built for the Population Health Dashboard. Customers wanted to know more about the &ldquo;diagnoses categories&rdquo; and to better understand the terminology displayed on the original design. This enhancement provided a way for users to drill into each category and then look up medical terms without needing to do a Google search. It translated terms like &lsquo;Pharyngitis&rsquo; to the more friendly, &lsquo;Sore Throat&rsquo;.</span>
    </figcaption>
</div>

<div id="tableau-viz" class="hidden">
    <figcaption>
      <span class="title">Tableau Visualization.</span> 
      <span class="caption-body"> I created this Tableau dashboard for the Healthentic Account Management team. It displayed key population health data points and book of business or state averages for comparison.</span>
    </figcaption>
</div>

<div id="available-data" class="hidden">
    <figcaption>
      <span class="title">Available Data.</span> 
      <span class="caption-body"> Prototype I designed in Fireworks to help Populaiton Health Dashboard users understand two key questions when interpreting data: What data is loaded into the product? and What am I looking at in this time frame?</span>
    </figcaption>
</div>