<!-- Caption Content for Snap Shots -->

<div id="dxpopover-prototype" class="hidden">
    <figcaption>
      <span class="title">Diagnoses Lookup.</span> 
      <span class="caption-body"> This was a functional prototype I built for the Population Health Dashboard. Customers wanted to know more about the &ldquo;diagnoses categories&rdquo; and to better understand the terminology displayed on the original design. This enhancement provided a way for users to drill into each category and then look up medical terms without needing to do a Google search. It translated terms like &lsquo;Acute Pharyngitis&rsquo; to a more friendly, &lsquo;Sore Throat.&rsquo;</span>
    </figcaption>
</div>

<div id="tableau-viz" class="hidden">
    <figcaption>
      <span class="title">Tableau Visualization.</span> 
      <span class="caption-body"> I created this Tableau dashboard for the Healthentic Account Management team. It displayed key population health data points and book of business or state averages for comparison.</span>
    </figcaption>
</div>

<div id="available-data" class="hidden">
    <figcaption>
      <span class="title">Available Data.</span> 
      <span class="caption-body"> Prototype I designed in Fireworks to help Population Health Dashboard users understand two key questions when interpreting data: What data is loaded into the product? What data is shown in this time frame?</span>
    </figcaption>
</div>

<div id="hra-flow" class="hidden">
    <figcaption>
      <span class="title">User Flow. </span> 
      <span class="caption-body"> User scenario and flow for the process of distributing a health risk assessment to employees at small companies. We interviewed ten human resource managers to flesh out the journey of deploying a program. Then, I documented what we learned to do more evaluation of our findings.</span>
    </figcaption>
</div>

<div id="thinking-sketch" class="hidden">
    <figcaption>
      <span class="title">Design Thinking.</span> 
      <span class="caption-body"> At first, when ideas or problems seem too big to tackle, I often start with unfiltered sketching. Everyone has to start somewhere.</span>
    </figcaption>
</div>

<div id="survey-sample" class="hidden">
    <figcaption>
      <span class="title">Screening Survey.</span> 
      <span class="caption-body"> On occasion we needed to go beyond our existing customer pool to find user research participants. I got creative with LinkedIn and other professional networks to find and recruit additional users. This is one of the surveys used to screen and qualify participants.</span>
    </figcaption>
</div>

<div id="tracktest-sketch" class="hidden">
    <figcaption>
      <span class="title">Low Fidelity Testing.</span> 
      <span class="caption-body"> As early designs started to solidify, I would test and get feedback using low fidelity prototypes to encourage input. In some cases, I noticed users and internal stakeholders were more willing to share feedback when designs didn't look &ldquo;done.&rdquo;</span>
    </figcaption>
</div>

<div id="trackscenario-sketch" class="hidden">
    <figcaption>
      <span class="title">Task Flow Prototype.</span> 
      <span class="caption-body"> When thinking through new functionality, even user task flows would be prototyped to get early validation. I drew up this sketch during a design jam after we went through a few iterations of the flow on the white board.</span>
    </figcaption>
</div>

<div id="initiatives-design" class="hidden">
    <figcaption>
      <span class="title">Initiatives &amp; Strategies.</span> 
      <span class="caption-body"> One of the first projects I had at Healthentic was to understand, organize, and define the information architecture for a large library of health and wellness initiatives. I evaluated the design by having customers go through specific tasks to find documents and information that was commonly searched.</span>
    </figcaption>
</div>

<div id="maternity-design" class="hidden">
    <figcaption>
      <span class="title">Maternity Report Prototype.</span> 
      <span class="caption-body"> This was a high-fidelity prototype I created after working with our clinical team to define a new report on maternity and motherhood. We already had a number of similar reports, but this one had a lot of unique data.</span>
    </figcaption>
</div>

<div id="productivity-design" class="hidden">
    <figcaption>
      <span class="title">Functional Calculator Prototype.</span> 
      <span class="caption-body"> One of the more challenging projects I did for the Population Health Dashboard was to create a tool to estimate lost productivity. Because the data was vastly different than the health data already in the product, we went through many iterations to get to feasibility. Customers were most interested in the estimate of lost work days, which was vastly more relevant than cost estimates.</span>
    </figcaption>
</div>

<div id="trackia-sketch" class="hidden">
    <figcaption>
      <span class="title">Navigation Scenario Sketch.</span> 
      <span class="caption-body"> When we introduced a feature that provided additional contextual data, a lot of changes would be incrementally introduced. Even though we were working to deliver the first viable component of the new data displays, we needed to think through the changes that would domino out to other areas of the product.</span>
    </figcaption>
</div>

<div id="phdoverview-design" class="hidden">
    <figcaption>
      <span class="title">Population Overview.</span> 
      <span class="caption-body"> The Population Health Dashboard was designed to make understanding workforce population health easy. This is the primary screen that answered an elusive question for benefit managers: what is the health of my population? This screen rendered the primary value proposition of the product. Customers loved it because they could print this single page to share it with their executives. I worked with another product manager to design and deliver this report from concept to implementation.</span>
    </figcaption>
</div>

<div id="hsewi-design" class="hidden">
    <figcaption>
      <span class="title">Health Sciences Website.</span> 
      <span class="caption-body"> Designed and built the Health Sciences, Education &amp; Wellness Institute website. This brought together nine disparate college department websites into a unified design and architecture. It was built using Dreamweaver templates to address the need for distributed management before content management systems were available to Bellevue College departments.</span>
    </figcaption>
</div>

<div id="coe-design" class="hidden">
    <figcaption>
      <span class="title">Center of Excellence Website.</span> 
      <span class="caption-body"> Side project website design and implementation I did with my friend and colleague, <a href="http://www.juanulloa.com" target="_new">Juan Ulloa.</a> We built this in WordPress and designed a custom theme for the organization.</span>
    </figcaption>
</div>

<div id="coe-sitemap" class="hidden">
    <figcaption>
      <span class="title">Site Map.</span> 
      <span class="caption-body"> Because the Center of Excellence had lots of content and planned to add a lot more, we spent the earliest phases of the project working on content strategy and information architecture. Our client was very visual, so a content inventory didn&rsquo;t cut it. I created this site map to visualize the planned site architecture. </span>
    </figcaption>
</div>

<div id="travel-design" class="hidden">
    <figcaption>
      <span class="title">Travel Study Abroad Website.</span> 
      <span class="caption-body"> This was one of the first websites built on WordPress at Bellevue College. I led the effort to make content management systems available for college departments. I designed the site and coded a custom WordPress theme.</span>
    </figcaption>
</div>

<div id="sdc-design" class="hidden">
    <figcaption>
      <span class="title">Sustainable Design Certificate Website.</span> 
      <span class="caption-body"> A representative example of the many &lsquo;brochure-ware&rsquo; websites I designed and coded for Bellevue College. With all of the sites in this vein, I focused a lot on content and the key scenarios, tasks, and questions users had.</span>
    </figcaption>
</div>
